  .buttonContainer {
                width: 20%;
            }

  .buttonContainer > .buttonClass {
                width: 25%;
                height: 48px;
                font-size: 24px;
            }